<html>
    <head>
        <link rel="icon" href="/imgs/download.png">
        <link rel="stylesheet" href="/css/styles.css">
        <title>404</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h1>404 unable to reach this url</h1>
            <p>More info: {{info}}</p>
        </div>

        <footer>
            {{>footer}}
        </footer>
    </body>
</html>