<html>
    <head>
        <link rel="icon" href="/imgs/download.png">
        <link rel="stylesheet" href="/css/styles.css">
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img src="/imgs/me.jpg" alt="me" class="portrait">
            <form>
            <input type="text" placeholder="Get in touch">
            <input type="submit">
            </form>
        </div>
        <footer>
            {{>footer}}
        </footer>
    </body>
</html>