 <html>
     <head>
         <link rel="icon" href="/imgs/download.png"> 
         <link rel="stylesheet" href="/css/styles.css">
         <title>Home</title>
     </head>
     <body>
         <div class="main-content">
            {{>header}}
            <form>
                <input type="text" placeholder="Location">
                <button>Search</button>
            </form>
            <div id='forecast'></div>
            <div id='error'></div>
         </div>
         <script src="js/app.js"></script>
     </body>
     <footer>
         {{>footer}}
     </footer>
 </html>