<html>
    <head>
        <style type="text/css">
            iframe {
                width: 640px;
                height: 360px;
            }
        </style>
    </head>
    <body>
        <iframe src="https://docs.google.com/document/d/1fMiN-FnD48_rUrnemnOp8jIB2OTa56Oai7KkfMtlnmE/edit" frameborder="0"></iframe>
    </body>
</html>